version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: dishes_postgres
    restart: always
    environment:
      POSTGRES_DB: dishes
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
